<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCafJHR1lnWHZhDYNqRRTtPKwi2pEUiPGo</string>
	<key>GCM_SENDER_ID</key>
	<string>44126907898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChordedApp.ChordedApp</string>
	<key>PROJECT_ID</key>
	<string>chorded-39c6f</string>
	<key>STORAGE_BUCKET</key>
	<string>chorded-39c6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44126907898:ios:9515c18bcfb25752074843</string>
	<key>DATABASE_URL</key>
	<string>https://chorded-39c6f-default-rtdb.firebaseio.com</string>
</dict>
</plist>